<div class="center">

    <article>
        <h2>Tital :{{task().tital}}</h2>
        <time>Date: {{task().date | date:'mediumDate'}}</time>
        <p>{{task().content}}</p>
        <p>Remark: {{task().remark}}</p>

        <p class="actions">
            @if(task().complite){
                This Task is Completed
           } @else {
               <button (click)="completed()">Completed</button>
           
               <button (click)="remark()">Update Remark</button>   
           }
           <br>
           @if (addremark) {
               <app-addremark [task]="task()" (removeRemarkDiv)="oncencelRemark()" (newRemark)="onUpdateRemark($event)" />
           }
        </p>
      </article>

</div>
<hr>
<br>