<app-header />
<main>
  <ul id="users">

    <li>
      <app-user (select)="onSelect($event)" [id]="user[0].id" [avatar]="user[0].avatar" [name]="user[0].name" />
    </li>
    <li>
      <app-user (select)="onSelect($event)" [id]="user[1].id" [avatar]="user[1].avatar" [name]="user[1].name" />
    </li>
    <li>
      <app-user (select)="onSelect($event)" [id]="user[2].id" [avatar]="user[2].avatar" [name]="user[2].name" />
    </li>
    <li>
      <app-user (select)="onSelect($event)" [id]="user[3].id" [avatar]="user[3].avatar" [name]="user[3].name" />
    </li>
    <li>
      <app-user (select)="onSelect($event)" [id]="user[4].id" [avatar]="user[4].avatar" [name]="user[4].name" />
    </li>
    <li>
      <app-user (select)="onSelect($event)" [id]="user[5].id"  [avatar]="user[5].avatar" [name]="user[5].name" />
    </li>
  </ul>
  
  <app-details [name]="selectUser.name" [phone]="selectUser.phoneNo" [avatar]="selectUser.avatar" [age]="selectUser.age" [DOB]="selectUser.d_o_b"  />
</main>


<router-outlet />
