  
  <section id="tasks">
    <img class="userimg" src="{{imagestr()}}" alt="{{user().name}}">
    <h1>
        Name: {{user().name}}
    
    </h1>
    <h2>
    
        Phone No.: {{user().phoneNo}}
        <br>
        Age : {{user().age}}
        <br>
        D.O.B.: {{user().d_o_b  | date:'mediumDate'}}
    <menu>
        <button (click)="addTask()">Add Task</button>
        @if (allTasks) {
        <button (click)="allTask()">Show Painding Tasks</button>
        }@else {
        <button (click)="allTask()">Show All Tasks</button>
        }
    </menu>
    </h2>
    @if(newTaskAdd){
        <app-addtask [userId]="user().id" (removeTaskDiv)="onRemoveTask()"/>
      }
<hr>
<ul>
      @for (task of tasks(user().id); track task.id) {
  <li>
        @if(allTasks){
          <app-task [task]="task" (complet)="onTaskComplet($event)" />
        } @else if(!task.complite) {
            <app-task [task]="task" (complet)="onTaskComplet($event)"/>
    
      }
    </li>
    }
</ul>
      </section>
  
  